* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  margin: 0;
  /* background-color: blue; */
}

.pagina {
  margin-top: 2vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#login {
  display: block;
  text-align: right;
  font-size: 1.5em;
  margin-bottom: 10px;
}

#nome {
  width: 400px;
}

.card{
  margin: 15px 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.411);
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  border-radius: 15px;
}

.card button {
  width: 150px;
  height: 35px;
}

.apresentacao {
  display: flex;
  margin: 15px;
}

.imagemProduto{
  width: 130px;
  height: 130px;
  border: 2px solid black;
  margin: 10px;
  background-size: cover;
  background-position: center;
}

.dados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 130px;
  margin: 10px;
}

.nome {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 15px;
}

.dadosVariaveis {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 130px;
  margin: 10px;
}

.precoTotal {
  font-size: 1.8em;
  margin: 20px 0;
}

.controle button {
  width: 50px;
  height: 30px;
  margin: 0 10px;
  font-size: 1.3em;
}

.quantidade {
  font-size: 1.4em;
}

.mensagemRemocao {
  margin-top: 60px;
  color: red;
  font-size: 1.5em;
}

.finalizar {
  display: flex;
  justify-content: center;
}

.finalizar button {
  width: 200px;
  height: 35px;
  font-size: 1.4em;
}

#violao .imagemProduto {
  background-image: url("../img/violao.png");
}

#sanfona .imagemProduto {
  background-image: url("../img/sanfona.jpg");
}