<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div class="externo">
  <div class="container">
    <div class="card">
      <div class="box">
        <div class="percent">
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>60<span>%</span></h2>
          </div>
        </div>
        <h2 class="text">Sensor 1</h2>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="percent">
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>50<span>%</span></h2>
          </div>
        </div>
        <h2 class="text">Sensor 2</h2>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="percent">
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>75<span>%</span></h2>
          </div>
        </div>
        <h2 class="text">Sensor 3</h2>
      </div>
    </div>
  </div>
</div>